<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<% todos.forEach((message)=>{ %>
		<li class="message">
			<h2><%=message._id%></h2>
			<h2 class="todoItem" id="<%=message._id%>"><%=message.todo%></h2>
			<h2 id="<%=message.noteId%>">fuck you</h2>
			<span><i class="fa fa-trash" aria-hidden="true"></i></span>
		</li>
		<%})%>
	</body>
</html>
